//font-sizes
$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl:48px;
$font-xxxl:64px;


// heading-sizes
$heading-1: 64px;
$heading-2: 48px;
$heading-3: 32px;
$heading-4: 24px;
$heading-5: 18px;
$heading-6: 16px;


// english-heading
$eng-heading-1: 100px;
$eng-heading-2: 80px;
$eng-heading-3: 60px;
$eng-heading-4: 48px;
$eng-heading-5: 32px;
$eng-heading-6: 20px;
$eng-heading-7: 16px;
$eng-heading-3: 12px;


//font weights
$font-400: 400;
$font-700: 700;

// line heights
$line-height-small: 75%;
$line-height-normal: 100%;
$line-height-medium: 150%;
$line-height-large: 160%;

// font-family
$noto-sans: 'Noto Sans JP', sans-serif;
$noto-serif: "Noto Serif SC";
$tenor-sans : "Tenor Sans";